.my-form { margin: 2em 0; padding: 1em 0.5em; }
.my-form--theme-light { color: #333; }
.my-form--theme-dark { color: #ccc; }
.my-form--compact { margin: 0.5em 0; padding: 0.5em; }
.my-form__input-area { display: flex; margin: 1em 0; font-size: 1.5rem; }
.my-form--compact .my-form__input-area { margin: 0.25em 0; }
.my-form__label { flex-basis: 1; }
.my-form__input { flex-basis: 3; }
.my-form--theme-light .my-form__input { border-color: #333; }
.my-form--theme-dark .my-form__input { border-color: #ccc; }
.my-form__submit { width: 200px; }
.my-form__submit--disabled { color: gray; }

.our-form { margin: 2em 0; padding: 1em 0.5em; }
.our-form--theme-light { color: #333; }
.our-form--theme-dark { color: #ccc; }
.our-form--compact { margin: 0.5em 0; padding: 0.5em; }
.our-form__input-area { display: flex; margin: 1em 0; font-size: 1.5rem; }
.our-form--compact .my-form__input-area { margin: 0.25em 0; }
.our-form__label { flex-basis: 1; }
.our-form__input { flex-basis: 3; }
.our-form--theme-light .my-form__input { border-color: #333; }
.our-form--theme-dark .my-form__input { border-color: #ccc; }
.our-form__submit { width: 200px; }
.our-form__submit--disabled { color: gray; }

.your-form { margin: 2em 0; padding: 1em 0.5em; }
.your-form--theme-light { color: #333; }
.your-form--theme-dark { color: #ccc; }
.your-form--compact { margin: 0.5em 0; padding: 0.5em; }
.your-form__input-area { display: flex; margin: 1em 0; font-size: 1.5rem; }
.your-form--compact .my-form__input-area { margin: 0.25em 0; }
.your-form__label { flex-basis: 1; }
.your-form__input { flex-basis: 3; }
.your-form--theme-light .my-form__input { border-color: #333; }
.your-form--theme-dark .my-form__input { border-color: #ccc; }
.your-form__submit { width: 200px; }
.your-form__submit--disabled { color: gray; }
