/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
	font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
	-ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: #f5f5f5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
	background: 0 0;
	border: none;
	padding: 0;
	cursor: pointer;
	touch-action: manipulation;
}

html {
  font-size: 14px;
  line-height: 1.3125;
	-webkit-font-smoothing: antialiased;
}
@media screen and (min-width: 360px) {
  html {
    font-size: 15px
  }
}
@media screen and (min-width: 600px) {
  html {
    font-size: 16px
  }
}

::selection {
	background: #0084bf;
	color: #fff;
}
@font-face{
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: normal;
  src: url('/sailfish/dist/server/static/source-sans-pro.woff2') format('woff2'),
       url('/sailfish/dist/server/static/source-sans-pro.woff') format('woff');
}

.button {

  --button-blue1: #0084bf;
  --button-blue2: #0073b1;
  --button-blue3: #006097;

  /* default: large primary button */
  background-color: var(--button-blue1);
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-weight: 600;
  height: auto;
  overflow: hidden;
  outline-width: 2px;
  padding: 0 24px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition-duration: 140ms;
  transition-property: background-color,box-shadow,color;
  transition-timing-function: cubic-bezier(.4,0,1,1);
  vertical-align: middle;
  z-index: 0;
}
.button:hover {
  background-color: var(--button-blue2);
}
.button:active {
  background-color: var(--button-blue3);
}

/* small */
.button--size-small {
  font-size: 15px;
  height: 24px;
  min-width: 24px;
  line-height: 24px;
  padding: 0 16;
}
/* medium */
.button--size-medium {
  font-size: 17px;
  height: 32px;
  min-width: 32px;
  line-height: 32px;
  padding: 0 16px;
}
/* large */
.button--size-large {
  font-size: 17px;
  height: 40px;
  min-width: 40px;
  line-height: 40px;
  padding: 0 24px;
}
/* x-large */
.button--size-x-large {
  font-size: 21px;
  height: 48px;
  min-width: 48px;
  line-height: 48px;
  padding: 0 32px;
}

/* round */
.button--shape-round {
  border-radius: 50%;
  font-size: 0px;
  padding: 0px;
  text-indent: -999px;
}

/* primary muted */
.button--theme-muted {
  background-color: rgba(0,0,0,.55);
  color: #FFFFFF;
}
.button--theme-muted:hover {
  background-color: rgba(0,0,0,.7);
}
.button--theme-muted:active {
  background-color: rgba(0,0,0,.85)
}

/* primary inverse */
.button--theme-inverse {
  background-color: #FFFFFF;
  color: rgba(0,0,0,.7);
}
.button--theme-inverse:hover {
  background-color: rgba(255,255,255,.7);
}
.button--theme-inverse:active {
  background-color: rgba(255,255,255,.55);
}

.button__secondary {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #0084bf, inset 0 0 0 2px transparent, inset 0 0 0 3px transparent;
  color: var(--button-blue1);
  transition: background-color 334ms, box-shadow 334ms;
  transition-timing-function: cubic-bezier(0,0,.2,1);
}

.button__secondary:hover {
  background-color: rgba(0,115,177,.1);
  box-shadow: inset 0 0 0 1px #0084bf, inset 0 0 0 2px #0073b1, inset 0 0 0 3px transparent
}

.button__secondary:active {
  background-color: rgba(0,96,151,.2);
  box-shadow: inset 0 0 0 1px #0084bf, inset 0 0 0 2px #0073b1, inset 0 0 0 3px #006097;
}

/* secondary muted */
.button__secondary--theme-muted {
  color: rgba(0,0,0,.55);
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.55), inset 0 0 0 2px transparent, inset 0 0 0 3px transparent;
}
.button__secondary--theme-muted:hover {
  color: rgba(0,0,0,.7);
  background-color: rgba(0,0,0,.1);
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.55), inset 0 0 0 2px rgba(0,0,0,.7), inset 0 0 0 3px transparent;
}
.button__secondary--theme-muted:active {
  color: rgba(0,0,0,.85);
  background-color: rgba(0,0,0,.2);
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.55), inset 0 0 0 2px rgba(0,0,0,.7), inset 0 0 0 3px rgba(0,0,0,.85);
}

/* primary inverse */
.button__secondary--theme-inverse {
  color: #FFFFFF;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.7), inset 0 0 0 2px transparent, inset 0 0 0 3px transparent;
}
.button__secondary--theme-inverse:hover {
  background-color: rgba(255,255,255,.1);
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.7), inset 0 0 0 2px rgba(255,255,255,.85), inset 0 0 0 3px transparent;
}
.button__secondary--theme-inverse:active {
  background-color: rgba(255,255,255,.2);
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.7), inset 0 0 0 2px rgba(255,255,255,.85), inset 0 0 0 3px #FFFFFF;
}

.button__tertiary {
  background-color: transparent;
  color: var(--button-blue1);
  transition: background-color 334ms, color 334ms;
  transition-timing-function: cubic-bezier(0,0,.2,1);
}

.button__tertiary:hover {
  background-color: rgba(0,115,177,.1);
  color: var(--button-blue2)
}

.button__tertiary:active {
  background-color: rgba(0,96,151,.2);
}

/* tertiary muted */
.button__tertiary--theme-muted {
  color: rgba(0,0,0,.55);
}
.button__tertiary--theme-muted:hover {
  color: rgba(0,0,0,.7);
  background-color: rgba(0,0,0,.1);
}
.button__tertiary--theme-muted:active {
  color: rgba(0,0,0,.85);
  background-color: rgba(0,0,0,.2);
}

/* primary muted */
.button__tertiary--theme-inverse {
  color: #FFFFFF;
}
.button__tertiary--theme-inverse:hover {
  color: #FFFFFF;
  background-color: rgba(255,255,255,.1);
}
.button__tertiary--theme-inverse:active {
  color: #FFFFFF;
  background-color: rgba(255,255,255,.2)
}
.dropdown {
  --bg-color: #fff;
  --border: 1px solid rgba(0, 0, 0, 0.15);
  --shadow: 0 4px 8px rgba(0,0,0,.15);

  display: flex;
  position: relative;
  right: 0; /* default, bottom-right */
}
.dropdown--bottom-left {
  left: 0;
  right: auto;
}
.dropdown--menu {
  margin-left: auto;
}
.dropdown__trigger {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  font-size: 13px;
}
.dropdown__trigger--menu {
  padding: 0 16px;
}
.dropdown__trigger-label {
  color: #c7d1d8;
  display: flex;
  align-items: center;
  font-size: inherit;
}
.dropdown__trigger-label:hover {
  color: #fff;
  font-weight: bold;
}
.dropdown__trigger-caret {
  transform: scale(.75);
}
.dropdown__trigger-img {
  border: 1px solid #fff;
  border-radius: 50%;
}
.dropdown__container {
  background-clip: padding-box;
  background-color: var(--bg-color);
  border-radius: 2px;
  box-shadow: var(--shadow);
  display: none;
  padding: 0;
  position: absolute;
  right: -5px;
  text-align: left;
  top: 50px;
  transition: box-shadow 83ms;
  width: 288px;
  z-index: 1000;
}
.dropdown__container::before,
.dropdown__container::after {
  border: 10px solid transparent;
  border-bottom-color: rgba(0,0,0,.15);
  content: '';
  display: block;
  position: absolute;
  right: 10px;
  top: -20px;
}
.dropdown__container::after {
  top: -19px;
  border-bottom-color: var(--bg-color);
}
.dropdown__container--menu {
  background-clip: padding-box;
  background-color: var(--bg-color);
  border: var(--border);
  border-radius: 2px;
  box-shadow: var(--shadow);
  display: none;
  max-width: 355px;
  padding: 0;
  position: absolute;
  right: -5px;
  text-align: left;
  top: 50px;
  transition: box-shadow 83ms;
  top: 24px;
  width: 288px;
  z-index: 1000;
}
.dropdown__container--open {
  display: block;
}
.typeahead {
  --bg-color: #e1e9ee;
  --bg-color-focus: #fff;
  --bg-color-hover: #f3f6f8;
  --border: 1px solid rgba(0, 0, 0, .15);
  --border-radius: 2px;

  display: flex;
  flex-flow: column nowrap;
  position: relative;
  width: 100%;
}
.typeahead--compact {
  max-width: 280px;
}
.typeahead__container {
  position: relative;
}
.typeahead__icon {
  position: absolute;
  height: 100%;
  padding: 5px 4px;
  transform: scale(.67, .67);
}
.typeahead__icon--focus {
  display: none;
}
.typeahead__input {
  background-color: var(--bg-color);
  border: none;
  border-radius: var(--border-radius);
  color: #283e4a;
  font-weight: 400;
  font-size: 15px;
  line-height: 34px;
  padding: 0 8px 0 28px;
  width: 100%;
}
.typeahead__input--focus {
  background-color: var(--bg-color-focus);
  color: rgba(0,0,0,.85);
  padding: 0 48px 0 8px;
}
.typeahead__submit {
  background-color: #e1e9ee;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  display: none;
  height: 100%;
  position: absolute;
  padding: 5px 4px;
  top: 0;
  right: 0;
  transform: scale(.90, .90);
  z-index: 99;
}
.typeahead__submit--focus {
  display: inline-block;
}
.typeahead__results {
  background-color: var(--bg-color-focus);
  border: var(--border);
  border-radius: var(--border-radius);
  display: none;
  height: auto;
  line-height: 24px;
  position: absolute;
  top: 34px;
  width: 100%;
  z-index: 999;
}
.typeahead__results--open {
  display: block;
}
.typeahead__result-item {
  border-bottom: var(--border);
  margin: 0;
  padding: 5px 8px 5px 24px;
}
.typeahead__result-item:last-child {
  border-bottom: none;
}
.typeahead__result-item:hover {
  background-color: var(--bg-color-hover);
  cursor: pointer;
}
.card {
  --bg-color: #fff;
  --border: 1px solid rgba(0, 0, 0, 0.15);
  --shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  --elevate: 0 0 0 1px rgba(0,0,0,.1), 0 4px 6px rgba(0,0,0,.2);

  background-color: var(--bg-color);
  background-clip: padding-box;
  border-radius: 2px;
  box-shadow: var(--shadow);
  margin: 0 0 8px;
  padding: 16px;
  position: relative;
  transition: box-shadow .2s ease-in-out;
}
.card--no-padding {
  padding: 0;
}
.card:hover {
  box-shadow: var(--elevate);
}
.card--hoverless:hover {
  box-shadow: var(--shadow);
}
.card__title {
  padding: 16px 24px;
  margin: 0;
  font-family: Source Sans Pro,Helvetica,Arial,sans-serif,Hiragino Kaku Gothic Pro,Meiryo,Hiragino Sans GB W3,Noto Naskh Arabic,Droid Arabic Naskh,Geeza Pro,Simplified Arabic,Noto Sans Thai,Thonburi,Dokchampa,Droid Sans Thai,Droid Sans Fallback,-apple-system,'.SFNSDisplay-Regular',Heiti SC,Microsoft Yahei,Segoe UI;
  line-height: 24px;
  font-weight: 400;
  font-size: 17px;
  color: rgba(0,0,0,.55);
}
.card__title--has-divider {
  border-bottom: var(--border);
}
.card__content {
  overflow: hidden;
  padding: 16px 24px;
  position: relative;
}
.card__content--img-only {
  padding: 0;
}
.card__action-bar {
  border-top: var(--border);
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}
.card__action-bar-item {
  display: table-cell;
  list-style: none;
  overflow: visible;
  min-width: 48px;
  vertical-align: top;
  width: 100%;
}
.card__action-bar-input {
  border: 0;
  border-radius: 0;
  border-right: var(--border);
  height: 65%;
  margin-top: 9px;
}

.route-loading {
  animation-delay: 0.4s;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-name: showLoader;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  visibility: hidden;
}

.mMqMNKm- {
  display: block;
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.NbRjsd2D {
  padding: 0 30px;
  background: #283e4a;
  height: 52px;
  display: flex;
  align-items: center;
}

._2dp_XZ5i {
  width: 34px;
  height: 34px;
  margin-right: 12px;
}

._19snE11M {
  flex: 1;
  justify-content: flex-end;
}

._3Q5m77ie,._19snE11M {
  display: flex;
  height: 100%;
}

._3Q5m77ie {
  min-width: 80px;
  align-items: center;
  justify-content: center;
}

._27HxOli4 {
  min-width: 60px;
}

._3gerVh56 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #c7d1d8;
  transition: color .3s;
  cursor: pointer;
}

._3gerVh56._1D-eKN8v,._3gerVh56:hover {
  color: #fff;
}

._3gerVh56>span {
  line-height: 1;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

._1D-eKN8v ._2LmMT9Wn,.R6ZcjrCG {
  display: none;
}

._1D-eKN8v .R6ZcjrCG {
  display: block;
  fill: #fff;
}

._35eJkLJn {
  border-radius: 50%;
  border: 1px solid #c7d1d8;
  transform: scale(1);
  transition: transform 167ms cubic-bezier(.4,0,.2,1);
  -webkit-clip-path: none;
  clip-path: none;
}

._1F4yAacp {
  transform: scale(.75);
}

._3j3SAGwF {
  padding: 8px 24px;
}

._32bQR-4r {
  color: #0084bf;
  font-weight: 600;
}

._2N-USj7I {
  display: block;
  float: left;
  height: 102px;
  margin: 0;
  padding: 16px 12px 16px 24px;
  position: relative;
  width: 106px;
}

.jwuqu7Np {
  box-shadow: 0 2px 5px rgba(0,0,0,.15);
  border: 2px solid #fff;
  border-radius: 100%;
  display: inline;
  height: 70px;
  width: 70px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

._3QdKEZoM {
  display: inline-block;
  margin-top: 32px;
  padding-right: 8px;
  position: relative;
  max-width: 166px;
}

._25LwO4AR {
  font-weight: 400;
  font-size: 13px;
  bottom: 100%;
  left: 0;
  letter-spacing: 1.5px;
  position: absolute;
}

._1teeUWo8 {
  font-size: 17px;
}

._1teeUWo8,._3Bm-xKLW {
  line-height: 24px;
  font-weight: 600;
}

._3Bm-xKLW {
  border-top: 1px solid rgba(0,0,0,.15);
  color: #44474a;
  text-transform: uppercase;
  background: #f3f6f8;
  padding: 0 12px;
  font-family: Source Sans Pro,Helvetica,Arial,sans-serif;
}

._1F6HjQKV,._3Bm-xKLW {
  line-height: 20px;
  font-size: 15px;
}

._1F6HjQKV {
  padding: 5px 24px;
  color: rgba(0,0,0,.85);
  position: relative;
  font-weight: 800;
}

._2xCvEhSg {
  color: #000;
  text-decoration: none;
}

._1F6HjQKV:hover {
  background-color: rgba(0,0,0,.1);
}

._2B_Y6W0W {
  color: rgba(0,0,0,.7);
}

.LPhRZOW5 {
  position: relative;
  top: 6px;
  left: 9px;
  height: 14px;
  min-width: 14px;
  background-color: #cf5000;
  border-radius: 100%;
  text-align: center;
}

._3RNeA4ld {
  --card-min-width: 264px;
  --card-max-width: 320px;
  --border-color: rgba(0,0,0,.15);
  display: flex;
  position: relative;
}

._1pA0jA0I {
  height: 0;
}

._1atlNCTT {
  position: absolute;
  width: var(--card-min-width);
  max-width: var(--card-max-width);
  z-index: 999;
  color: rgba(0,0,0,.7);
  box-shadow: 0 0 0 1px rgba(0,0,0,.1),0 6px 9px rgba(0,0,0,.2);
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 2px;
  margin: 0;
  opacity: 0;
  outline: none;
  padding: 0;
  transition: visibility 0s linear .2s,opacity .2s linear;
  visibility: hidden;
  text-align: left;
}

._1atlNCTT:after,._1atlNCTT:before {
  border: 10px solid transparent;
  content: "";
  display: block;
  position: absolute;
  z-index: 9999;
}

._15TQzVbe:after,._15TQzVbe:before {
  border-top-color: var(--border-color);
  left: calc(50% - 5px);
  bottom: -19px;
}

._15TQzVbe:after {
  border-top-color: #fff;
}

.ZhVvFG4F {
  opacity: 1;
  transition-delay: 0s;
  visibility: visible;
}

._3wWNfwpf:after,._3wWNfwpf:before {
  border-bottom-color: var(--border-color);
  left: calc(50% - 5px);
  top: -20px;
}

._3wWNfwpf:after {
  border-bottom-color: #fff;
}

._3TA96tKt:after,._3TA96tKt:before {
  border-left-color: var(--border-color);
  right: -20px;
  top: calc(50% - 5px);
}

._3TA96tKt:after {
  border-left-color: #fff;
}

._1rrB6YGF:after,._1rrB6YGF:before {
  border-right-color: var(--border-color);
  left: -20px;
  top: calc(50% - 10px);
}

._1rrB6YGF:after {
  border-right-color: #fff;
}

.OVuTAS1l {
  position: absolute;
  left: -99999px;
  visibility: hidden;
}

._3GrckQCs {
  width: 48px;
  border: 2px solid transparent;
  border-radius: 49.9%;
}

._1zzKIMf_ {
  margin-left: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

._3xg-W3sQ {
  font-weight: 600;
  font-size: 15px;
  color: rgba(0,0,0,.85);
  line-height: 20px;
  text-decoration: none;
}

._3xg-W3sQ:hover {
  color: #0084bf;
  cursor: pointer;
  text-decoration: underline;
}

._3xg-W3sQ:focus ._3zdIVnV1 {
  font-weight: 400;
  font-size: 13px;
  color: rgba(0,0,0,.55);
}

._2Ty8l4YV {
  line-height: 16px;
}

._3WkQr2tb {
  padding: 16px 16px 8px;
  display: flex;
}

._2M9F714x {
  font-size: 15px;
  font-weight: 400;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
  line-height: 18px;
  color: rgba(0,0,0,.7);
  margin: 0 16px;
}

._2f1XYY5L {
  font-weight: 700;
}

.Nj5dKrx- {
  justify-content: space-between;
  padding: 12px 8px 8px 0;
}

._2jRRYcII,.Nj5dKrx- {
  display: flex;
  border-bottom: 1px solid #e6e9ec;
}

._2jRRYcII {
  height: 40px;
  margin: 0 16px;
  align-items: center;
}

._2jRRYcII ul {
  display: flex;
  align-items: center;
  color: rgba(0,0,0,.55);
  font-weight: 400;
  font-size: 13px;
}

._2jRRYcII li:nth-child(2):before {
  content: "\B7";
  padding-right: 5px;
  vertical-align: middle;
}

._2jRRYcII li:nth-child(2) {
  padding-left: 5px;
}

._1GXu_ysw {
  border: 1px solid #e6e9ec;
  border-radius: 2px;
  margin: 8px 16px 0;
  padding: 0;
  overflow: hidden;
}

._1GXu_ysw img {
  width: 100%;
}

._2xhgPA4E {
  padding: 8px 0;
  width: 100%;
}

._2xhgPA4E p:first-child {
  color: rgba(0,0,0,.85);
  font-size: 15px;
  font-weight: 600;
  line-height: 1.6rem;
  margin: 0 12px;
  max-height: 3.2rem;
  overflow: hidden;
}

._2xhgPA4E p:nth-child(2) {
  color: rgba(0,0,0,.55);
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  max-height: 16px;
  margin: 0 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

._1ASqT0Z1 {
  background: 0 0;
  border: 0;
  font-size: 100%;
  margin: 0;
  margin-top: 8px;
  outline: 0;
  overflow: hidden;
  padding: 0;
  padding-top: 100%;
  position: relative;
  vertical-align: baseline;
  max-width: 100%;
  width: 100%;
}

.g9IbE5J1 {
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

._3f3R_1Ip {
  border-bottom: 1px solid #cdcfd2;
  list-style: none;
}

._3f3R_1Ip:hover {
  background-color: #f3f6f8;
}

.NoDqRqzm {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 4px 16px;
  font-weight: 600;
  font-size: 1.45rem;
  line-height: 1.375;
}

.NoDqRqzm svg {
  color: #777a7d;
  float: left;
  padding: 8px 8px 0 0;
}

._14DxkXPD {
  line-height: 16px;
  text-align: left;
}

._14DxkXPD h5,.NoDqRqzm h5 {
  font-size: 15px;
  line-height: 20px;
  color: rgba(0,0,0,.85);
}

._14DxkXPD p {
  color: rgba(0,0,0,.55);
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

._3NhZKJg2 {
  display: inline-flex;
  flex-flow: row nowrap;
  padding: 16px 16px 0;
  width: 320px;
}

._3n7c9YB9 {
  flex: 1 1 auto;
  margin-left: 8px;
  padding-right: 24px;
}

._3fXk68sY {
  font-weight: 600;
}

._3fXk68sY,._3lveu4xs {
  font-size: 15px;
  position: relative;
}

._3lveu4xs {
  color: rgba(0,0,0,.55);
  font-weight: 400;
  line-height: 20px;
}

._3lveu4xs:before {
  content: "\2022";
  display: inline-block;
  font-size: 8px;
  margin: 0;
  padding: 0 2px;
  vertical-align: middle;
}

._2RVOh88N {
  line-height: 20px;
  margin-top: 8px;
  padding: 0 16px;
}

._3iVjG5u1 {
  border-top: 1px solid rgba(0,0,0,.15);
  margin-top: 12px;
  overflow: hidden;
  padding: 8px 0;
  width: 100%;
  white-space: nowrap;
}

.rbtBDfqS {
  color: rgba(0,0,0,.55);
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  height: 48px;
  text-align: center;
  width: 100%;
}

.rbtBDfqS:hover {
  color: #0084bf;
}

._2Z8VokQC {
  height: 40px;
}

._3UnIl--Q {
  flex: 1;
  justify-content: flex-start;
}

._3c-YK6lU,._3UnIl--Q {
  display: flex;
  align-items: center;
  height: 100%;
}

._3c-YK6lU {
  min-width: 80px;
  justify-content: center;
}

.LKMqx0wE {
  color: rgba(0,0,0,.55);
  outline-width: 2px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-size: 15px;
  display: inline-flex;
  white-space: nowrap;
}

.LKMqx0wE._1Ssqr_E_ {
  color: #006097;
  font-weight: 700;
}

.gLU8aSSs {
  left: 0;
  margin: 0 0 0 -6px;
  position: relative;
  top: 3px;
  transform: scale(.75);
  vertical-align: text-top;
}

.O8_2Ve_s {
  max-width: 100%;
  margin: -52px auto 0;
  padding: 52px 0 0;
}

._144DkxBa {
  width: 1128px;
  padding: 0 32px;
  display: block;
  margin: auto;
  position: relative;
  display: flex;
}

._1nb-9MNT {
  width: 216px;
}

._2Kps5mkC {
  background: linear-gradient(90deg,#b29a53 0,#f4e8bc 65%,#c8b476);
  height: 4px;
  width: 100%;
}

._2-POLT6C {
  background: url(https://static.licdn.com/sc/h/9fv3zhkjl99hw4pwg8v8shvf2);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  height: 80px;
  position: relative;
}

._1jGbaQBo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg,rgba(0,0,0,.7),transparent);
  color: #fff;
  padding-left: 8px;
}

._2F_kTdSp {
  width: 552px;
  margin-left: 25px;
}

._1o6PmaAV {
  padding: 16px 0;
  min-height: 17px;
  text-align: center;
  font-weight: 700;
}

.my-form { margin: 2em 0; padding: 1em 0.5em; }
.my-form--theme-light { color: #333; }
.my-form--theme-dark { color: #ccc; }
.my-form--compact { margin: 0.5em 0; padding: 0.5em; }
.my-form__input-area { display: flex; margin: 1em 0; font-size: 1.5rem; }
.my-form--compact .my-form__input-area { margin: 0.25em 0; }
.my-form__label { flex-basis: 1; }
.my-form__input { flex-basis: 3; }
.my-form--theme-light .my-form__input { border-color: #333; }
.my-form--theme-dark .my-form__input { border-color: #ccc; }
.my-form__submit { width: 200px; }
.my-form__submit--disabled { color: gray; }

.our-form { margin: 2em 0; padding: 1em 0.5em; }
.our-form--theme-light { color: #333; }
.our-form--theme-dark { color: #ccc; }
.our-form--compact { margin: 0.5em 0; padding: 0.5em; }
.our-form__input-area { display: flex; margin: 1em 0; font-size: 1.5rem; }
.our-form--compact .my-form__input-area { margin: 0.25em 0; }
.our-form__label { flex-basis: 1; }
.our-form__input { flex-basis: 3; }
.our-form--theme-light .my-form__input { border-color: #333; }
.our-form--theme-dark .my-form__input { border-color: #ccc; }
.our-form__submit { width: 200px; }
.our-form__submit--disabled { color: gray; }

.your-form { margin: 2em 0; padding: 1em 0.5em; }
.your-form--theme-light { color: #333; }
.your-form--theme-dark { color: #ccc; }
.your-form--compact { margin: 0.5em 0; padding: 0.5em; }
.your-form__input-area { display: flex; margin: 1em 0; font-size: 1.5rem; }
.your-form--compact .my-form__input-area { margin: 0.25em 0; }
.your-form__label { flex-basis: 1; }
.your-form__input { flex-basis: 3; }
.your-form--theme-light .my-form__input { border-color: #333; }
.your-form--theme-dark .my-form__input { border-color: #ccc; }
.your-form__submit { width: 200px; }
.your-form__submit--disabled { color: gray; }
